.user {
    width: 10 0px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

#home i {
    margin-top: -8px;
}
/* venancio esteve aqui */
.ui.container.segment {
    margin-top: 7%;
}

/* responsividade dos menus */

#menuMobile {
    visibility: hidden;
}

@media only screen and (max-width: 700px) {
    #menuDesktop {
        display: none;
    }
    #form {
        margin-top: 25%;
    }
    #menuMobile {
        visibility: visible;
        margin-bottom: 10%;
    }
}