.user {
    width: 10 0px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

h2 {
    margin: 25px;
    padding: 0 0 20px;
    color: #efed40;
    text-align: center;
}

#home i {
    margin-top: -8px;
}

/* venancio esteve aqui */

.ui.container.segment {
    margin-top: 10%;
}

#menuMobile {
    visibility: hidden;
}

/* responsividade dos menus */

@media only screen and (max-width: 700px) {
    #menuDesktop {
        display: none;
    }
    .ui.container.segment {
        margin-top: 30%;
    }
    #menuMobile {
        visibility: visible;
    }
}
